@charset "utf-8";

/* RESET
   ============================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:active,
a:hover {
    outline: 0;
}
button,
input,
select,
textarea {
    margin: 0;
    vertical-align: baseline;
}
button,
input {
    line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    overflow: visible;
}
button[disabled],
input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
	-moz-box-sizing:border-box;
    padding: 0;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}

/* DESKTOP - TODOS LOS NAVEGADORES
   ============================================================== */

/* --------------- GENÉRICOS --------------- */

ul, ol {
	line-height: 18px;
}
ul {
	list-style: disc;
	font-weight: normal;
}
b, strong {
	font-weight: bold;
	font-style: normal;
}
p.cursiva {
	font-style: oblique;
}
/* Imágenes responsive */
img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
  /* vertical-align: bottom; */ /* Suppress the space beneath the baseline */

  /* Responsive images */
  /* @todo Add responsive embedded video. */
  max-width: 100%;
  height: auto;
  width: auto;
}
.hideRead {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}
.hideTextRead{
	display:block;
	text-indent: -9999em
}

/* Lista horizontal */
ul.listaHorizontal {
	margin: 0;
	padding: 0;
	line-height: inherit;
}
.listaHorizontal li {
	float: left;
	padding: 0 0 0 15px;
	list-style: none
}
.listaHorizontal li:first-child {
	padding-left: 0!important
}

/* Ícono RSS */
.listaHorizontal li a.icn-rss {
	display: block;
	padding-right: 17px;
	background: url(../_img/icn-rss.png) right no-repeat;
	background: url(../_img/icn-rss.svg) right no-repeat, none;
	height: 13px;
}

/* Márgenes */
.mTop {
	margin-top: 20px;
}
.mBottom {
	margin-bottom: 15px;
}

/* Links */
a {
	color: #003dc6;
	word-wrap: break-word;
}
a:hover {
	text-decoration: none;
}
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
/* Flotación */
.floatIzq {
	float: left;
}
.floatDer {
	float: right;
}
.clearFloat {
	clear: both;
	padding: 0!important;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.2;
	font-weight: normal;
	color: #141414;
}

/* Encabezados */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	line-height: 1.1;
}
h1 {
	font-size: 1.6em;
	font-size: 1.6rem;
}
h2 {
	font-size: 1.4em;
	font-size: 1.4rem;
}
h3 {
	font-size: 1.2em;
	font-size: 1.2rem;
}
h4 {
	font-size: 1.1em;
	font-size: 1.1rem;
}
h5 {
	font-size: 1em;
	font-size: 1rem;
}
h6 {
	font-size: 0.9em;
	font-size: 0.9rem;
}
span.destacado{
	color: #696969;
}

/* Contenedor principal */
.contenedorGeneral {
	margin: 0 auto;
	max-width: 980px;
}

/* Cabezal superior */
.cabezalSuperior {
	position: relative;
	padding: 12px 1.5%;
	width: 97%;
	overflow: auto;
}

/* Cabezal principal */
.headerPrincipal {
	position: relative;
	width: 100%;
	overflow: auto;
	background-color: #EFEFEF;
	border-bottom: 1px solid #CCC;
	box-shadow: 0 8px 8px -8px #666;
}

/* --------------- LOGO ORGANISMO --------------- */
.logoOrganismo {
	float: left;
	margin: 0 1.5%;
	height: 110px;
	padding: 15px 0;
}
.logoOrganismo a {
	display: table;
	text-decoration: none;
}
.logoOrganismo a:hover {
	text-decoration: none;
}
.logoOrganismo a img {
	display: table-cell;
	height: 100%;
	max-width: 100%;
}
.logoOrganismo span.nombreOrganismo {
	display: table-cell;
	padding-left: 20px;
	vertical-align: middle;
	font-size: 1.2em;
	font-size: 1.6rem;
	color: #333;
}

/* --------------- BUSCADOR --------------- */
#seccionBuscador {
	float: right;
	width: auto;
	margin: 30px 1.5% 0 0;
}
#contBusquedaHeader {
	float: right;
	width: 100%;
	margin-top: 15px;
}
#contBusquedaHeader form {
	position: relative;
	margin: 0;
}
#contBusquedaHeader input[type=search] {
	width: 100%;
	padding-left: 25px;
	padding-right: 81px;
	height: 28px;
	vertical-align: middle;
	border: 1px solid #999;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: url(../_img/icons/icn-search-sm.png) 0 0 no-repeat;
	background: url(../_img/icons/icn-search-sm.png) 0 0 no-repeat, #FFF;
	background-position: 5px;
	outline-width: 2px;
}
#btnBusquedaHeader {
	position: absolute;
	top: 0;
	right: 0;
	height: 28px;
	width: 75px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#btn_menu, #btn_buscador {
	display: none;
}

/* --------------- LOGO SECUNDARIOS --------------- */
#logosSecundarios ul li a {
	display: block;
	height: 45px;
}
/* Imágenes de logos secundarios */
#logosSecundarios ul li a img {
	max-width: 100%;
	height: auto;
}

/* --------------- MENÚ DE NAVEGACIÓN PRINCIPAL --------------- */
.navMenuPrincipal {
	width: 100%;
	position: static;
}
.navMenuPrincipal > a {
	display: none;
}
.navMenuPrincipal ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navMenuPrincipal li {
	position: relative;
	z-index: 2;
}
.navMenuPrincipal li a {
	color: #fff;
	display: block;
}
.navMenuPrincipal span:after {
	width: 0;
	height: 0;
	border: 0.313em solid transparent;
	border-bottom: none;
	border-top-color: #efa585;
	content:'';
	vertical-align: middle;
	display: inline-block;
	position: relative;
	right: -0.313em;
}
/* Nivel 1 Menú principal */
.navMenuPrincipal > ul {
	height: 45px; /* Altura de barra de navegación */
	background-color: #757575; /* Color de barra de navegación */
}
.navMenuPrincipal > ul > li {
	display: table;
	float: left;
	width: 14.28571428%;
}
.navMenuPrincipal > ul > li > a {
	display: table-cell;
	height: 45px;
	vertical-align: middle;
	text-align: center;
	padding: 0 15px;
	text-align: center;
	font-size: 1.2em;
	text-decoration: none;
	color: #fff;
}
.navMenuPrincipal > ul > li:first-child > a {
	background: transparent;
}
.navMenuPrincipal > ul > li > a {
	cursor: default;
	background: url(../_img/separador-menu.png) no-repeat left center;
}
.navMenuPrincipal > ul > li:hover > a,
.navMenuPrincipal > ul:not(:hover) > li.active > a,
.navMenuPrincipal > ul > li.hover > a {
	background-color: #676767; /* Fondo Hover botón principal */
}
.navMenuPrincipal > ul > li.menuItem a {
	cursor: pointer;
}
.navMenuPrincipal > ul > li.menuItem a:hover {
	background-color: #676767!important;
}
/* Nivel 2 */
.navMenuPrincipal li ul {
	background-color: #676767; /* Fondo lista subnivel */
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	display: block;
	overflow: hidden;
	max-height: 0;
	transition: max-height .75s;
	width: 170px;
}
/* Hover menú sin js */
.jsOff .navMenuPrincipal li:hover ul, .navMenuPrincipal li.hover ul {
	left: 0;
	right: 0;
	max-height: 500px;
}
.navMenuPrincipal li:not(:first-child):hover ul, .navMenuPrincipal li.hover:not(:first-child) ul {
	left: -1px;
}
.navMenuPrincipal li ul a {
	font-size: 1.1em;
	padding: 0.75em;
	text-decoration: none;
}
.navMenuPrincipal li ul li a:hover,
.navMenuPrincipal li ul:not(:hover) li.active a,
.navMenuPrincipal li ul li.hover a {
	background-color: #757575; /* Fondo Hover Subnavegación */
}
.navMenuPrincipal li ul li a {
	border-bottom: 1px dotted #ACACAC;
}
/* Estados activos de items menú principal */
.navMenuPrincipal > ul > li.active > a {
	background-color: #676767
}
.navMenuPrincipal > ul > li > ul > li.active {
	background-color: #757575
}
/*/ -----> FIN MENÚ DE NAVEGACIÓN PRINCIPAL <----- /*/

/* Cabezal promoción */
.promocion {
	width: 100%;
	padding-bottom: 15px;
}
.promocion img {
	width: 100%;
	height: auto;
}

/* Contenedor general */
.contGralContenido {
	width: 100%;
	overflow: visible;
	padding-top: 15px
}

/* --------------- SECCIÓN CONTEXTUAL --------------- */
.seccionCtx {
	float: left;
	width: 18%;
}
.sectionLeft {
	margin-right: 2%;
}
.sectionRight {
	margin-left: 2%;
}
.seccionCtx .content {
	padding: 15px;
}

/* --------------- MENÚ DE NAVEGACIÓN SECCIÓN CONTEXTUAL --------------- */
.ctx {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-bottom: 15px;
	background-color: #FDFDFD;
	border: 1px solid #D8D8D8;
	overflow: auto;
}
.content-title h2 {
	color: #fff;
	font-size: 1.35em;
	display: inline-block;
	padding-right: 15px;
	margin: 0;
}
.itemListaMenuCtx {
	cursor: pointer;
	padding-left: 15px;
}
.content-title {
	background-color: #757575;
    padding: 12px 25px 12px 15px;
    text-align: left;
	color: #FFF;
	cursor: default;
}

.icn-arrow {
	position: relative;
	top: 10px;
	display: block;
	background: url(../_img/icns-arrow.png) 0 0 no-repeat;
 	background: url(../_img/icns-arrow.svg) 0 0 no-repeat, none;
	width: 8px;
	height: 4px;
	z-index: 0;
}
.icn-arrow-up, .jsOff .menuLista li:hover span.icn-arrow {
	background: url(../_img/icns-arrow.png) -9px 0 no-repeat;
 	background: url(../_img/icns-arrow.svg) -9px 0 no-repeat, none;
}
.contListaCtx ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding: 20px 15px 0 15px;
}
.menuLista li a {
	display: inline-block;
	text-decoration: none;
	margin-bottom: 15px;
}
.menuLista li a:hover {
	text-decoration: underline;
}
.menuLista ul {
	display: block;
	max-height: 0;
	height: 100%;
	overflow: hidden;
	transition: max-height .75s;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 15px;
}
.menuLista li a {
	display: inline-block;
	padding-left: 20px;
	line-height: 16px;
}
/* Animación sin JS */
.jsOff .menuLista li:hover ul, .menuLista li.hover ul {
	max-height: 500px;
}

/* --------------- ACCESOS RÁPIDOS --------------- */
.accesosCtx ul li {
	list-style: disc;
	margin-left: 15px;
	margin-bottom: 15px;
}
.accesosCtx ul li a {
	text-decoration: none;
	line-height: 16px;
}
.accesosCtx ul li a:hover {
	text-decoration: underline;
}

/* Accesos rápidos formato box */
.accesosCtxBoxes ul {
	margin-bottom: 25px;
	padding: 0;
}
.accesosCtxBoxes ul li {
	margin-bottom: 15px;
	list-style: none;
}
.accesosCtxBoxes ul li a {
	display: block;
	width: 100%;
	overflow: hidden
}
.accesosCtxBoxes ul li a img {
	width: 100%;
	height: auto
}

/* --------------- SECCIÓN CONTENIDO --------------- */
.main-content {
	float: left;
	width: 80%;
	padding-bottom: 25px;
}
.main-content p {
	line-height: 18px;
	margin-bottom: 15px;
	word-wrap: break-word;
}
.main-content p.end {
	line-height: 18px;
	margin-bottom: 25px;
}
.main-content h1 {
	margin-bottom: 20px;
}
.main-content h2 {
	margin-bottom: 15px;
}
.main-content h3, .main-content h4 {
	margin-bottom: 10px;
}

.content-info h3 {
	display: inline-block;
}
.content-info p:last-child {
	margin-bottom: 25px
}

.contSangria {
	padding-left: 25px;
}
.contSangria-md {
	padding-left: 15px;
}
.main-content ul {
	margin-top: 0;
	margin-bottom: 25px;
}
.main-content ul li, .main-content ol li {
	margin-bottom: 15px;
}

/* --------------- SLIDER HOME --------------- */
.sliderNoticias {
	max-width: 100%;
	height: auto;
	margin-bottom: 25px;
}

/* --------------- BOTONES DE COMPARTIR (SHARE BUTTONS) --------------- */
.shareNoticiaIcns {
	overflow: auto;
}
.shareNoticiaIcns ul {
	clear: both;
	float: right;
	margin-top: 25px;
}
.shareNoticiaIcns ul li {
	display: block;
	float: left;
	margin-left: 12px;
}
.shareNoticiaIcns ul li a {
	display: block;
	width: 22px;
	height: 22px;
	padding: 7px;
	background-color: #434141;
	color: #FFF;
}
.shareNoticiaIcns ul li a:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	opacity: .9;
}
.shareNoticiaIcns ul li a span {
	display: block;
	width: 22px;
	height: 22px;
}
.shareNoticiaIcns ul li a .icn-rss {
	background: url(../_img/icns-share.png) 0 0 no-repeat;
 	background: url(../_img/icns-share.svg) 0 0 no-repeat, none;
}
.shareNoticiaIcns ul li a .icn-msg {
	background: url(../_img/icns-share.png) -23px 0 no-repeat;
 	background: url(../_img/icns-share.svg) -23px 0 no-repeat, none;
}
.shareNoticiaIcns ul li a .icn-print{
	background: url(../_img/icns-share.png) -46px 0 no-repeat;
 	background: url(../_img/icns-share.svg) -46px 0 no-repeat, none;
}

/* --------------- BREADCRUMB --------------- */
ol.breadcrumb {
	margin: 0;
	margin-bottom: 15px;
	padding: 8px 0;
	list-style: none;
}
ol.breadcrumb li {
	margin-bottom: 10px;
}
.breadcrumb > li {
	display: inline-block;
}
.breadcrumb > li + li:before {
	padding: 0 5px;
	color: #ccc;
	content: "/\00a0";
}
.breadcrumb > .active {
	color: #666;
}

/* --------------- BOX DOCUMENTOS --------------- */
.lista-documento {
	padding: 0;
	list-style: none;
}
ul.lista-documento > li {
	padding-bottom: 20px;
	margin-bottom: 20px;
	overflow: auto;
	border-bottom: 1px solid #E2E2E2;
}
.lista-documento > li:last-of-type {
	border-bottom: none;
}
.lista-documento > li a, .title-documento {
	display: inline-block;
	line-height: 20px;
	font-weight: normal;
	text-decoration: none;
}
.lista-documento > li h3 {
	margin-bottom: 10px;
}
.lista-documento > li a:hover, .title-documento:hover {
	text-decoration: underline;
}
.lista-documento > li p {
	margin-top: 3px;
	margin-bottom: 0;
}
.lista-documento > li img, .imgBoxDescarga img {
	float: left;
	display: block;
	margin-right: 15px;
	height: auto;
}
.lista-documento > li img {
	max-width: 130px;
}
.lista-descarga > li img {
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #E8E8E8;
	max-width: 75px;
	overflow: auto;
	float: left;
	margin-right: 15px;
}
img.img-documento-destacado {
	float: left;
	display: block;
	margin-right: 15px;
	max-width: 250px
}
p.lista-documento-fecha {
	font-size: 1em;
	color: #4D4D4D;
	margin: 3px 0;
	margin-bottom: 5px;
}
/* Tags */
.lista-documento-tag {
	margin-top: 15px;
}
.lista-documento-tag .icn-tag {
	float: left;
	display: block;
	background: url(../_img/icn-tag.png) 0 0 no-repeat;
 	background:url(../_img/icn-tag.svg) 0 0 no-repeat, none;
	width: 15px;
	height: 15px;
	margin-top: 1px;
	margin-right: 7px;
}

/* --------------- BOX ITEMS --------------- */
.boxes-transparencia-activa {
	margin-top: 20px;
}
.boxes-transparencia-activa {
	padding: 0!important;
}
.boxes-transparencia-activa .listaHeader {
	background-color: #F5F5F5;
	padding: 10px 12px;
	overflow: auto;
}
.boxes-transparencia-activa .listaHeader h3 {
	margin-bottom: 0;
	font-size: 1.4em;
}
.boxes-transparencia-activa .rightSmContent, .boxes-transparencia-activa .leftSmContent {
	display:block;
	padding-top:7px;
}
.boxes-transparencia-activa .leftSmContent {
	float: left;
}
.boxes-transparencia-activa .rightSmContent {
	float: right;
}
.boxes-transparencia-activa > li {
	padding: 0;
	border: 1px solid #E6E6E6;
	overflow: auto;
}
.boxes-transparencia-activa > li p {
	padding: 15px 10px;
	margin-bottom: 0;
}
.boxes-transparencia-activa > li ul {
	overflow: auto;
}
.boxes-transparencia-activa > li {
	margin-bottom: 15px;
}
.boxes-transparencia-activa > li:last-of-type {
	margin-bottom: 0;
}
.boxes-transparencia-activa li ul {
	padding: 10px 0;
}
.boxes-transparencia-activa li ul li {
	list-style: none;
	background: transparent url(../_img/bullet-circleBlue.png) no-repeat 0 6px;
	width: 45%;
	padding-left: 15px;
	margin-left: 2%;
	margin-bottom: 10px;
	float: left
}
.boxes-transparencia-activa li ul li a {
	line-height: 18px;
	padding-right:10px;
}
.boxes-transparencia-activa li ul li span.fechaMod {
	display: inline-block;
	line-height: 20px;
	color: #333;
}

/* --------------- ACCESOS RÁPIDOS PIE (FOOTER) --------------- */
.accesos li ul li:first-child a {
	display: inline-block;
	font-size: 1.3em;
	list-style: none;
	margin-bottom: 15px;
	line-height: 1.5em;
	text-decoration: underline!important;
}

.contListaCtx > a {
	display: block;
	text-decoration: none;
	margin-bottom: 20px;
	margin-right: 15px;
	text-align: right;
}

.contListaCtx > a:hover {
	text-decoration: underline;
}

/* Logos redes sociales */
.footer ul.redesSociales {
	float: left;
	margin-left: 50px;
	margin-top: 15px;
}
.footer ul.redesSociales li a {
	display: block;
}

.accesosRapidos {
	width: 100%;
	box-sizing: border-box;
	background-color: #F7F7F7;
	padding: 0 15px 20px 15px;
	border-top: 1px solid #EBEBEB;
	overflow: auto;
}
.accesosRapidos ul {
	padding: 0;
	margin: 0;
}
.accesosRapidos ul ul li {
	list-style: disc;
	margin-bottom: 15px;
	margin-left: 15px;
}
.accesosRapidos ul li:first-child, .accesosRapidos ul li:last-child {
	list-style: none;
	margin-bottom: 0;
	margin-left: 0;
}
.accesosRapidos ul li a {
	text-decoration: none;
	display: inline-block;
}
.accesosRapidos ul li a:hover {
	text-decoration: underline;
}
ul.accesos > li {
	box-sizing: border-box;
	float: left;
	width: 25%;
	height: auto;
	padding: 0;
	padding-top: 20px;
	list-style: none;
}

/* --------------- MAPA DEL SITIO --------------- */
ul.site-map, ul.site-map ul, ul.site-map ul li  {
	list-style: none;
	margin: 0;
	padding: 0;
}
.site-map li a {
	display: inline-block;
	line-height: 18px;
}
/* Nivel 1 - Título sección principal */
.site-map > li > a {
	font-size:1.3em;
	font-weight:bold;
	padding-bottom: 10px;
}
/** Subniveles **/
.site-map li a {
	padding-bottom: 15px;
}
/* Nivel 2 */
.site-map > li ul > li > a {
	padding-left: 28px;
}
/* Nivel 3 */
.site-map > li ul > li > ul > li > a {
	padding-left: 56px;
}
/* Nivel 4 */
.site-map > li ul > li > ul > li > ul > li > a {
	padding-left: 84px;
}
/* Nivel 5 */
.site-map > li ul > li > ul > li > ul > li > ul > li > a {
	padding-left:112px;
}

/* --------------- IFRAMES --------------- */
iframe {
	border: 0;
	overflow: hidden;
}

#iframeDocumento {
	width: 100%;
	height: 900px;
	background-color: #FFF;
	border-style: none;
}

#iframeComEstatales {
	width: 100%;
	height: 930px;
	margin-bottom: 10px;
}

/* --------------- BOX RECOMENDACIÓN --------------- */
.box-destacado {
	padding-left: 30px;
}
.box-destacado span.title-dest {
	display: block;
	padding-bottom: 3px;
	border-bottom: 1px solid #CCC;
	margin-bottom: 15px;
}

/* --------------- PIE (FOOTER) --------------- */
.footer {
	box-sizing: border-box;
	width: 100%;
	background-color: #6B6B6B;
	color: #FFF;
	line-height: 18px;
	padding: 20px 15px;
	overflow: auto;
}
.footer address {
	font-style: normal;
}
.footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.footer ul li a {
	display: block;
	color: #FFF;
	padding-top: 3px;
}
.linksFooter {
	margin-top: 9px;
}

/* --------------- FORMATO GALERÍA --------------- */
.galeria {
	width: 100%;
	float: left;
}
.imagenAmpliada {
	width: 80%;
	float: left;
}
.imagenAmpliada img {
	width: 100%;
	float: left;
}
.pieImagen {
	background: #f1f1f2;
	width: 96%;
	color: #000;
	padding: 2%;
	float: left;
}
.pieImagen p {
	font-size: 1.2em;
	font-weight: 400;
	line-height: 1.2em;
}
.flecha-der {
	display: block;
	float: left;
	background: url(../_img/icn-flechaGaleriaDer.png) no-repeat center;
	background: url(../_img/icn-flechaGaleriaDer.svg) no-repeat center, none;
	width: 10%;
	height: 42px;
	margin-top: 25%;
	text-indent: -10000px;
}
.flecha-izq {
	display:block;
	float: left;
	background: url(../_img/icn-flechaGaleriaIzq.png) no-repeat center;
	background: url(../_img/icn-flechaGaleriaIzq.svg) no-repeat center, none;
	width: 10%;
	height: 42px;
	margin-top: 25%;
	text-indent: -10000px;
}
.miniaturas {
	float: left;
	width: 100%;
	margin-top: 40px;
}
.miniaturas ul {
	width: 90%;
	margin: 0 auto;
}
.miniaturas ul li {
	width: 18%;
	margin: 0 1% 40px 1%;
	min-width: 90px;
	float: left;
	list-style: none;
}
.miniaturas ul li a img {
	width: 100%;
	margin-bottom: 5px;
	max-width: 120px;
	max-height: 80px;
}
.miniaturas ul li a p {
	line-height: 1.2em;
	width: 120px;
}
.miniaturas ul li:nth-child(5n+1) {
	clear: both;
}
.miniaturas ul li.imagenSeleccionada img {
	width: 100%;
	border: solid 3px #014983;
}
.miniaturas ul li.imagenSeleccionada a p {
	text-decoration: none;
	color: #000;
	font-weight: 700;
}
.miniaturas ul li.imagenSeleccionada a {
	text-decoration: none;
}

/* --------------- CONTACTO MULTICANAL --------------- */
.seccionCtx .content {
	line-height: 18px;
}
.seccionCtx ul.dependencias {
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
	color:#333;
}
.seccionCtx ul.dependencias li {
	list-style: none;
}
.seccionCtx ul.dependencias > li {
	margin-bottom: 25px;
}
.seccionCtx ul.dependencias li ul {
	margin: 0;
	padding: 0;
}
.seccionCtx ul.dependencias li ul li {
	margin-bottom: 3px;
}
.seccionCtx ul.dependencias li h3 {
	margin-bottom: 7px;
}
.seccionCtx ul.dependencias li img {
	vertical-align: middle;
	margin-bottom: 10px;
}
.seccionCtx ul.dependencias li span.destacado {
	display: block;
	color: #666;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 21px;
	margin-bottom: 10px;
}
.icn-tel {
	float: left;
	display: block;
	background: url(../_img/icn-tel.png) 0 0 no-repeat;
	background: url(../_img/icn-tel.svg) no-repeat, none;
	width: 11px;
	height: 21px;
	margin-right: 12px;
}

/* --------------- CONTENIDO JERARQUIZADO --------------- */
.tree li {
	list-style-type: none;
	margin: 0;
	padding: 10px 0 0 13%;
	position: relative;
	width: 87%;
}
.tree ul {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
}
.tree ul li {
	margin-top: 20px;
}
.tree li.lvlOne {
	padding-left: 0;
	width: 100%;
	height: auto;
}
.tree li::before, .tree li::after {
	content: '';
	left: 3%;
	position: absolute;
	right: auto
}
.tree li::before {
	border-left: 1px solid #999;
	bottom: 50px;
	height: 100%;
	top: 0;
	width: 0
}
.tree li::after {
	border-top: 1px solid #999;
	top: 25px;
	width: 10%
}
.tree li div.itemContent li::before, .tree li div.itemContent li::after {
	content: '';
	position: static;
	border-top: none;
}
/* Imágenes nivel 1 */
.tree ul > li div.itemContent img {
	float: left;
	width: 35%;
	max-width: 200px;
}
/* Imágenes nivel 2 */
.tree ul > li > ul > li div.itemContent img {
	max-width: 170px;
}
/* Imágenes nivel 3 */
.tree ul > li > ul > li > ul > li div.itemContent img {
	max-width: 140px;
}
/* Imágenes nivel 4 */
.tree ul > li > ul > li > ul > li > ul > li div.itemContent img {
	max-width: 110px;
}
/* Imágenes nivel 5 */
.tree ul > li > ul > li > ul > li > ul > li div.itemContent img {
	max-width: 80px;
}
.tree li div.itemContent .contItem {
	float: left;
	margin-left: 3%;
	width: 62%
}
.tree li div.itemContent .noImage {
	float: none;
	margin-left: 0;
	width: 100%;
}
.tree li div.itemContent h2 {
	display: block;
	width: 100%;
	margin: 0;
	margin-bottom: 10px;
}
.tree li div.itemContent ul {
	padding-left: 15px;
}
.tree li div.itemContent ul li {
	list-style: disc;
	list-style-position: outside;
	padding-left: 5px;
	margin-top: 0;
	margin-left: 15px;
	margin-bottom: 0;
}
.tree li div.itemContent  ul li a {
	line-height: 18px;
	padding-right: 10px;
}
.tree li div.itemContent ul li {
	border: none;
	position: relative;
	content: inherit;
}
.tree li div.itemContent ul li::before {
	content: '';
	border: none;
	height: auto;
	width: auto;
}
.tree li:before {
	top: -20px;
	padding-bottom: 20px;
}
.tree li div.itemContent, .tree li div.hasChilds {
	box-sizing: border-box;
	border: 1px solid #999;
	border-radius: 3px;
	display: block;
	overflow: hidden;
	padding: 15px 3%;
	text-decoration: none;
	width: 100%;
}
.tree li.parent_li .hasChilds {
	cursor: pointer;
}
.tree > ul > li::before, .tree > ul > li::after {
	border: 0
}
.tree li:last-child::before {
	height: 25px
}
.tree li.parent_li > .hasChilds:hover, .tree li.parent_li > .hasChilds:hover + ul li .hasChilds {
	background: #FBFBFB;
	border: 1px solid #666;
	color: #000;
}

/* Listas con jerarquía vertical en columnas */
ul.list-two-col {
	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2;
}

/* --------------- LISTAS ORDENADAS CON DECIMAL BOLD --------------- */
ol.bold-list {
	padding-left: 0;
	list-style-position: inside;
	counter-reset:item;
}
ol.bold-list > li {
	list-style-type:none;
	counter-increment:item;
}
ol.bold-list > li:before {
	box-sizing: border-box;
	font-size: 1.4em;
	display: inline-block;
	padding-right: 6px;
	font-weight: bold;
	content: counter(item) ".";
}

/* --------------- AGENDA --------------- */
ul.agenda {
	box-sizing: border-box;
	margin: 0;
	padding: 10px 15px 20px 0;
	overflow: auto;
}
ul.agenda li {
	box-sizing: border-box;
	list-style: none;
	display: table;
	margin-top: 25px;
	margin-bottom: 0;
	margin-left: 0;
}
ul.agenda li:first-child {
	margin-top: 0;
}
.agenda-dia {
	display: table-cell;
	vertical-align: middle;
	font-size: 1.15em;
	font-weight: bold;
	color: #232323;
	width: 55px;
	max-width: 55px;
	text-align: right;
	line-height: 1;
	padding-right: 12px;
}
.agenda-hora {
	color: #333;
}
.agenda-separador {
	display: table-cell;
	box-sizing: border-box;
	padding-left: 12px;
	border-left: 1px solid #DCDCDC;
}
.agenda-link {
	display: block;
	font-size: 1em;
}
/* --------------- ENCUESTAS --------------- */
.encuesta fieldset legend {
	font-weight: bold;
	font-size: 1.4em;
	padding: 0;
}
.encuesta form fieldset label {
	float: left;
	width: 100%;
	margin-bottom: 8px;
	font-size: 1.1em;
	text-align: inherit;
}
.encuesta form fieldset {
	box-sizing: border-box;
	border: 0;
	padding: 0 15px;
	margin-bottom: 20px;
}
.encuesta form fieldset div {
	padding: 15px 0;
	clear: both;
}
.encuesta form .submit {
	margin-left: 14px;
	cursor: pointer;
}
.encuesta form fieldset input {
	overflow:hidden;
}
.encuesta form fieldset textarea {
	resize: none;
	height: 100px;
}

/* Resultados de encuestas */
.encuesta ul {
	float: left;
	clear: left;
	padding-left: 14px;
	margin-bottom: 40px;
}
.encuesta ul h3 {
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 15px;
}
.encuesta ul li {
	list-style: none;
	margin-bottom: 30px;
	float: left;
	max-width: 400px;
	width: 100%;
}
.encuesta ul li span {
	display: block;
	font-size: 1.1em;
}
.encuesta ul li .cifras {
	float: right;
}
.encuesta ul li .opcion {
	float: left;
}
.encuesta ul li {
	margin-bottom: 25px;
}
.encuesta ul li .barra {
	height: 20px;
	background: #06C;
	display: block;
}
.encuesta ul li div {
	height: 20px;
	background: #f1f1f2;
	margin-top: 3px;
	float: left;
	width: 100%;
}

/* Errores y Mensajes */
.encuesta .msg {
	border-radius: 3px;
	padding: 15px 14px 12px 42px;
	font-size: 1.1em;
	margin: 20px 0;
	line-height: 1.3em;
	border: 1px solid #f3f3f3;
}
.encuesta .error {
	background: #F9F2F4 url(../_img/icons/icn-circle-error.png) no-repeat 10px center;
	color: #822931;
	border-color: #E5BEC2;
}
.encuesta .exito {
	background: #F0F4DD url(../_img/icons/icn-circle-success.png) no-repeat 10px center;
	color: #004E1A;
	border-color: #C4D8A3;
}
.encuesta .field-error {
	background: #F9F2F4;
	margin-bottom: 40px;
	padding: 15px;
}
.encuesta .field-error legend {
	float: left;
}
.encuesta .msg-field-error {
	color: #E0091D;
	display: block;
	font-weight: normal !important;
	margin-top: 14px;
	float: left;
	font-size: 1.1em;
}
/* --------------- FACETAS --------------- */
.facetas {
	list-style: none;
	padding: 0;
	margin-top: 5px;
	margin-bottom: 20px;
	overflow: auto;
}
.facetas ul {
	margin-top: 3px;
	padding-left: 25px;
}
.facetas ul li {
	padding-top: 5px;
}
.facetas > li {
	float: left;
	box-sizing: border-box;
	background: #EBEBEB;
	padding: 10px 15px;
	margin-left: 1%;
}
.facetas > li:first-child {
	margin-left: 0;
}
.facetas-3 > li {
	width: 32.6666%;
}
.facetas-4 > li {
	width: 24.25%;
}
.facetas-5 > li {
	width: 19.2%;
}
.facetas-box {
	box-sizing: border-box;
	display: table;
}
.facetas > li img, .facetas-contenido {
	box-sizing: border-box;
	display: table-cell;
	/*vertical-align: top;*/
	vertical-align: middle;
}
.facetas-contenido > a {
	font-size: 1.5em;
	font-weight: 600;
	text-decoration: none;
}
.facetas-contenido > a:hover {
	text-decoration: underline;
}
.facetas ul li a {
	font-weight: normal;
	font-size: 1em;
	text-decoration: none;
}
.facetas ul li a:hover {
	text-decoration: underline;
}
.facetas > li img {
	padding-right: 16px;
	max-width: 90px;
	max-height: 70px;
}
.facetas-5 > li img {
	max-width: 60px;
	max-height: 50px;
}
/* --------------- ACCESIBILIDAD --------------- */
#skip {
  list-style: none;
  margin: 0;
}
#skip a {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  background: #757575;
  color: #FFF;
  padding: 6px 10px;
  overflow: hidden;
}
#skip a:focus {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  z-index: 9999;
}

/* INTERNET EXPLORER (IE)
   ============================================================== */

/* --------------- IE --------------- */

/* Menú principal desplegable */
.ie .navMenuPrincipal li ul {
	display: none;
	overflow: auto;
	max-height: none;
	transition: none;
}

/* Lista con desplegable */
.ie .menuLista ul {
	display: none;
	max-height: none;
	overflow: auto;
	transition: none;
}

.ie form fieldset ul li textarea {
	padding-top: 0;
}

/* Inputs formularios */
.ie button, .ie input, .ie select, .ie textarea {
	line-height: 26px;
}
.ie .form fieldset ul li textarea {
	padding: 0 1%;
}
.ie #contBusquedaHeader input[type=search] {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 75px solid transparent;
	background: #FFF;
}
.ie .form ul.radio-list li span {
	display: inline-block;
	padding-left: 0;
	vertical-align: middle;
	cursor: default;
}

/* --------------- CONTENIDO JERARQUIZADO --------------- */
.ie .tree li div.itemContent ul {
	margin-top: 20px;
}
.ie .tree li div.itemContent ul.list-two-col li {
	float: left;
	list-style: disc;
	list-style-position: outside;
	margin-top: 0;
	margin-bottom: 10px;
	width: 38%;
	margin-right: 7%;
}
.ie .tree li div.itemContent ul li {
	margin: 0;
	padding: 0;
	width: 100%;
	margin-right: 0;
}
/* Imágenes nivel 1 */
.ie .tree ul > li div.itemContent img {
	width: auto;
}

/* --------------- GENÉRICOS --------------- */
.ie form fieldset select {
     height: inherit;
     padding: 4px;
	 padding-right: 1%;
}

/* RESPONSIVE
   ============================================================== */

/* --------------- |981| --------------- */
@media screen and (min-width: 981px) {
	/* Navegación nivel 1 */
	.navMenuPrincipal > ul {
		display: block!important;
	}

	#seccionBuscador {
		display: block!important;
	}

	.contListaCtx {
		display: block!important;
	}
}

/* --------------- |1200| --------------- */
@media screen and (min-width: 1200px) {
	/* Contenedor principal */
	.contenedorGeneral {
		max-width: 1100px;
	}
}

/* --------------- |1800| --------------- */
@media screen and (min-width: 1600px) {
	/* Contenedor principal */
	.contenedorGeneral {
		max-width: 1350px;
	}

	.navMenuPrincipal li ul {
		width: 210px;
	}
}

/* --------------- |MAX | --------------- */
@media screen and (max-width: 1600px) {
	/* --------------- AGENDA --------------- */
	.agenda-dia {
		display: table-header-group;
		float: left;
		max-width: none;
		text-align: left;
		padding-right: 6px;
		margin-top: 0;
		margin-bottom: 5px;
		border-right: 1px solid #CCC;
		margin-right: 6px;
	}
	.agenda-hora {
		display: inline-block;
		line-height: 1;
		
	}
	.agenda-separador {
		display: none;
		padding-left: 0;
		border-left: none;
	}
	.agenda-link {
		clear: both;
		font-size: 1em;
	}
}

/* --------------- |980| --------------- */
@media screen and (max-width: 980px) {
	/* Contenedor general */
	.contGralContenido {
		width: 97%;
		padding: 15px 1.5% 0 1.5%;
	}

	.footer {
		padding: 20px 1.5%;
	}

	.accesosRapidos {
		padding: 0 1.5% 20px 1.5%;
	}

	/* Sangrías */
	.contSangria {
		padding-left: 5%;
	}

	/* Encabezado superior */
	.cabezalSuperior {
		display:none;
	}

	/* Cabezal */
	.logoOrganismo span.nombreOrganismo {
		position: absolute !important;
		top: -9999px !important;
		left: -9999px !important;
	}

	#logosSecundarios {
		display:none;
	}

	/* Buscador */
	#seccionBuscador {
		display: none;
		margin-right: 35px;
		width: 55%;
		margin-top: -2px
	}

	#contBusquedaHeader {
		margin-top: 30px;
	}

	.headerPrincipal {
		box-shadow: 0 8px 8px -8px #CCC;
	}

	.logoOrganismo {
		height: 50px;
	}

	.logoOrganismo a img {
		width: 90px;
		height: 50px;
	}

	.btnsMobile {
		float: right;
		margin: 30px 1.5% 0 0;
	}

	#btn_menu {
		float: right;
		display: block;
		background: url(../_img/icns-mobile.png) 0 0 no-repeat;
 		background: url(../_img/icns-mobile.svg) 0 0 no-repeat, none;
		width: 28px;
		height: 24px;
	}
  
    #btn_buscador.active,
    #btn_menu.active {
        background: url(../_img/close-menu.png) no-repeat center !important;
      }

	.jsOff #btn_menu:hover ~ .navMenuPrincipal > ul {
		display:block;
	}

	#btn_buscador {
		float: right;
		display: block;
		background: url(../_img/icns-mobile.png) -29px 0 no-repeat;
		background: url(../_img/icns-mobile.svg) -29px 0 no-repeat, none;
		width: 28px;
		height: 25px;
		margin-right: 30px;
	}

	/* Navegación Nivel 1 */
	.navMenuPrincipal > ul {
		height: auto;
		display: none;
		position: relative;
		left: 0;
		right: 0;
	}

	.navMenuPrincipal:target > ul {
		display: block;
	}

	.navMenuPrincipal > ul > li {
		width: 100%;
		float: none;
		display: block;
	}

	.navMenuPrincipal > ul > li > ul > li {
		margin: 0 15px;
	}

	.navMenuPrincipal > ul > li > ul > li > a {
		padding-left: 20px;
	}

	.navMenuPrincipal > ul > li > a {
		height: auto;
		text-align: left;
		padding: 12px 1em;
		display: block;
	}

	.navMenuPrincipal > ul > li > a {
		background: transparent
	}

	.navMenuPrincipal > ul > li > a {
		border-top: 1px solid #999;
	}

	.navMenuPrincipal > ul > li:first-child > a {
		border-top: none;
	}

	.navMenuPrincipal ul li ul li:last-child a {
		margin-bottom: 15px;
	}

	.navMenuPrincipal > ul > li:hover > a,
	.navMenuPrincipal > ul:not(:hover) > li.active > a {
		background-color: #676767!important;
		font-weight: 700!important;
	}

	/* Navegación Nivel 2 */
	.navMenuPrincipal li ul {
		position: static;
		width: auto;
	}

	/* Estados activos de items menú principal */
	.navMenuPrincipal > ul > li.active > a {
		background-color: #676767;
	}

	/* Fondo Hover botón principal */
	.navMenuPrincipal > ul:not(:hover) > li.active > a {
		background-color: #676767;
	}
	.navMenuPrincipal > ul > li > ul > li.active {
		background-color: #757575;
	}

	/* Fichas */
	.boxes-transparencia-activa > li p {
		padding: 10px;
	}

	/* Footer */
	.linksFooter {
		float: left;
		clear: both;
		padding-top: 10px;
	}
	.linksFooter li {
		float: left;
		padding: 0 35px 0 0;
		list-style: none;
		line-height: 20px
	}
	.linksFooter li:last-child {
		padding-right: 0!important;
	}

	/* --------------- CONTENIDO JERARQUIZADO --------------- */
	.tree li {
		width: 85%;
		padding: 5px 0 0 15%;
	}

	.tree ul > li div.itemContent img {
		display: block;
		float: none;
		margin-bottom: 15px;
	}
	.tree li div.itemContent .contItem {
		margin-left: 0;
	}
	.tree li div.itemContent h2 {
		margin-bottom: 8px;
	}
	.tree li div.itemContent .contItem {
		float: none;
		width: 100%;
		margin-left: 0;
	}
	.tree li div.itemContent, .tree li div.hasChilds{
		padding: 15px;
	}
	.tree li:before, .tree li:after {
		left: 4%;
		width: 11%;
	}

	/* --------------- FACETAS --------------- */
	.facetas > li img, .facetas-contenido {
		display: block;
		margin-bottom: 10px;
	}
	.facetas > li img {
		margin-right: 0;
		width: 100%;
		max-width: none;
		max-height: none;
		height: auto;
		display: block;
	}

	/* Contenido */
	.main-content {
		clear: both;
		float: none;
		width: 100%;
		margin: 0;
		padding-right: 0;
	}

	/* Encuestas */
	.encuesta fieldset legend {
		border-bottom: none;
	}

	/* --------------- SECCION CONTEXTUAL --------------- */
	.content-title h1 {
		padding-right: 10px;
	}
	.seccionCtx {
		float: none;
		width: 100%;
	}

	.sectionLeft {
		margin-right: 0;
	}

	.sectionRight {
		margin-left: 0;
	}

	/* Menú Ctx */
	.ctx {
		width: 100%;
	}

	.jsOff .ctx:hover .contListaCtx {
		display: block;
	}

	/* Desplegable de menú contextual */
    .contListaCtx {
		display: none;
	}

	.icn-acc {
		position: absolute;
		right: 15px;
		top: 13px;
		width: 14px;
		height: 14px;
	}

	.ctx .section-title {
		float: left;
	}

	.ctx .content-title {
		position: relative;
	}

	.ctx .icn-acc {
		background: url(../_img/icns-acor.png) 0 0 no-repeat;
 		background: url(../_img/icns-acor.svg) 0 0 no-repeat, none;
	}

	.ctx .icn-acc-active, .jsOff .ctx:hover .icn-acc{
		background: url(../_img/icns-acor.png) -15px 0 no-repeat;
		background: url(../_img/icns-acor.svg) -15px 0 no-repeat, none;
	}

	/* Accesos rápidos formato box */
	.accesosCtxBoxes {
		display: none;
	}

	/* --------------- IE RESPONSIVE --------------- */
	/* Inputs */
	.ie button,
	.ie input,
	.ie select,
	.ie textarea {
		line-height: 26px!important;
	}
}

/* --------------- |690| --------------- */
@media screen and (max-width: 690px) {
	/* Accesos rápidos */
	.accesosRapidos ul:nth-of-type(3) {
		clear: both;
	}
	ul.accesos > li {
		min-width: 50%!important;
	}

	ul.accesos > li:nth-child(2n+1) {
		clear:both;
	}

	.accesosRapidos ul {
		padding-right: 15%;
	}

	/* Footer */
	.footer ul.redesSociales {
		clear: both;
		float: left;
		margin-left: 0;
		padding-top: 5px;
	}

	/* --------------- CONTENIDO JERARQUIZADO --------------- */
	.tree li div.itemContent ul li {
		float: none;
		padding: 0;
		padding-left: 5px;
		margin: 0;
		margin-top: 7px;
		width: inherit;
	}
	.tree li div.itemContent img {
		width: 100%;
		min-width: inherit;
	}
	.tree ul > li div.itemContent img {
		min-width: 40%;
	}
	/* --------------- ITEMS EN COLUMNAS --------------- */
	ul.list-two-col {
		-moz-column-count:1;
		-webkit-column-count:1;
		column-count:1;
	}
}

/* --------------- |675| --------------- */
@media screen and (max-width: 675px) {
	/* Buscador */
	#seccionBuscador {
		height: 50px;
		width: 100%;
		background-color: #CCC;
		margin: 0;
	}

	#contBusquedaHeader {
		float: right;
		width: 98%;
		margin: 0;
		padding: 11px 1% 0 1%;
	}

	#contBusquedaHeader input[type=search] {
		width:100%;
		margin: 0;
	}
}

/* --------------- |640| --------------- */
@media screen and (max-width: 640px) {
	/* --------------- FORMATO GALERÍA --------------- */
	.miniaturas ul li:nth-child(5n+1) {
		clear: none;
	}
	.miniaturas ul li:nth-child(4n+1) {
		clear: both;
	}
	.miniaturas ul li {
		width: 23%;
	}
	/* --------------- FACETAS --------------- */
	.facetas {
		margin-bottom: 10px;
	}
	.facetas > li img, .facetas-contenido {
		display: block;
		margin-bottom: 10px;
	}
	.facetas ul {
		padding-left: 15px;
	}
	.facetas > li {
		box-sizing: border-box;
		float: left;
		display: block;
		border: none;
		margin-bottom: 10px;
	}
	.facetas > li a {
		display: block;
	}

	.facetas-5 ul {
		list-style: none;
		padding-left: 0;
	}
	/* --------------- IE RESPONSIVE --------------- */
	.ie form fieldset fieldset div {
		padding: 10px 0;
	}
}

/* --------------- |480| --------------- */
@media screen and (max-width: 480px) {
	img.img-documento-destacado {
		float: none;
		margin-bottom: 10px;
		max-width: 100%;
	}
	/* Footer */
	.linksFooter {
		padding-top: 0;
	}

	.linksFooter li {
		float: none;
		clear: both;
		display: block;
		padding: 0;
	}

	.linksFooter li {
		padding-bottom: 5px;
	}

	.linksFooter li:last-child {
		padding-bottom: 0;
	}

	/* Box Ficha lista */
	.boxes-transparencia-activa .listaHeader {
		padding: 7px 10px;
	}

	.boxes-transparencia-activa li ul {
		padding: 5px 0;
	}

	.boxes-transparencia-activa li ul li {
		width: 86%;
		padding-left: 6%;
		margin: 0 4%;
		margin-bottom: 10px;
	}

	/* Breadcrumb */
	ol.breadcrumb {
		margin-bottom: 15px;
		padding: 0;
	}
	ol.breadcrumb li {
		padding: 0;
	}

	/* --------------- FORMATO GALERÍA --------------- */

	.miniaturas ul li:nth-child(4n+1) {
		clear: none;
	}
	.miniaturas ul li:nth-child(3n+1) {
		clear: both;
	}
	.miniaturas ul li {
		width: 31%;
	}

	/* --------------- CONTENIDO JERARQUIZADO --------------- */
	.tree li {
		width: 88%;
		padding: 5px 0 0 12%;
	}
	.tree li div.itemContent h2 {
		margin-bottom: 10px;
	}
	.tree li:before, .tree li:after {
		left: 3%;
		width: 9%;
	}
	.tree li:before {
		top: -20px;
		padding-bottom: 20px;
	}
	/* --------------- FACETAS --------------- */
	.facetas-4 ul {
		list-style: none;
		padding-left: 0;
	}
	.facetas-5 > li {
		margin-left: 2%;
		width: 49%;
	}
	ul.facetas-5 > li:nth-child(2n) {
		margin-left: 0;
	}
	.facetas-5 > li:first-child {
		width: 100%;
	}
}

/* --------------- |390| --------------- */
@media screen and (max-width: 390px) {
	/* Accesos rápidos */
	ul.accesos > li {
		width: 100%!important;
	}

	/* --------------- BOX DOCUMENTOS --------------- */
	.lista-documento > li img {
		float: none;
		width: auto;
		max-width: 100%;
		display: block;
		margin-right: 0;
		margin-bottom: 10px;
	}

	.boxes-transparencia-activa li ul li a {
		display: block;
	}

	.contGralContenido {
		width: 94%;
		padding: 15px 3% 0 3%;
	}

	.logoOrganismo {
		margin: 0 3%;
	}

	.btnsMobile {
		margin-right: 3%;
	}

	.footer {
		padding: 20px 3%;
	}
	.accesosRapidos {
		padding: 0 3% 20px 3%;
	}

	#contBusquedaHeader {
		float: right;
		width: 94%;
		margin: 0;
		padding: 11px 3% 0 3%;
	}

	/* Cuadros de diálogo */
	.dialog-data {
		display: block;
		padding: 10px 15px;
		padding-top: 0;
	}
	.dialog-icon {
		display: block;
		padding: 15px;
		padding-bottom: 5px;
	}
	/* Datos alineados, tipo tabla */
	.data-list {
		padding-left: 0;
	}
	/* Elementos de formulario */
	form > fieldset > ul.form-group-list, form > fieldset  > fieldset ul.form-group-list {
		padding-left: 0;
	}
	input.form-control {
		width: 80%;
	}
	.input-group-addon {
		width: 20%;
	}
	/* Botones de acción de formulario */
	.form-action-buttons {
		padding-left: 15px;
	}
	.form-action-buttons li button {
		width: 100%;
		margin-left: 0!important;
		margin-right: 0!important;
	}

	/* --------------- FORMATO GALERÍA --------------- */
	.miniaturas ul li:nth-child(3n+1) {
		clear: none;
	}
	.miniaturas ul li:nth-child(2n+1) {
		clear: both;
	}
	.miniaturas ul li {
		width: 48%;
	}
	.flecha-der, .flecha-izq {
		background-size: 90%;
	}
	.pieImagen {
		width: 90%;
		padding: 5%;
	}

	/* --------------- FACETAS --------------- */
	.facetas ul {
		list-style: none;
		padding-left: 0;
	}
	.facetas-4 > li {
		margin-left: 0;
		margin-right: 3%;
		width: 48.5%;
	}
	ul.facetas-4 > li:nth-child(2n) {
		margin-right: 0;
	}

	/* --------------- IE RESPONSIVE --------------- */
	.ie .facetas-4 {
		background: #EBEBEB;
	}
	.ie .facetas-4 > li {
		margin-left: 0;
		margin-right: 0;
		width: 25%;
		padding: 10px;
	}
}

/* --------------- |290| --------------- */
@media screen and (max-width: 290px) {
	/* --------------- CONTENIDO JERARQUIZADO --------------- */
	.tree li:before, .tree li:after {
		left: 4%;
		width: 8%;
	}
	.tree ul > li div.itemContent img {
		width: 100%;
	}
	/* --------------- IE RESPONSIVE --------------- */
	.ie .facetas-4 > li {
		width: 100%;
		padding: 15px;
		border-top: 1px solid #CCC;
		margin-bottom: 0;
	}
	.ie .facetas-4 li:first-child {
		border-top: none;
	}
	.ie .tree ul > li div.itemContent img {
		width: 100%;
	}
}
